/*Ini CSS*/

body {
    padding: 5px;
    margin: 10px;
    margin-top: 0px;
    background-color: #fae8e8;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

#headerMain {
    display: flex;
}

#topHeader {
    background-color: rgb(229, 229, 229);
    border-radius: 24px;
    border: none;
    padding: 24px;
    margin: 24px;
}

#topFormula {
    background-color: rgb(229, 229, 229);
    border-radius: 24px;
    border: none;
    padding: 32px;
    margin: 32px;
}

#header {
    margin-top: 16px;
    margin-left: 16px;
    text-align: left;
    font-size: 40px;
}


#subheaderFont {
    text-align: left;
    margin-left: 16px;
    margin-top: 8px;
}

.bodyFont {
    font-size: 16px;
}

#midSection {
    background-color: rgb(229, 229, 229);
    border-radius: 24px;
    border: none;
    align-items: center;
    padding: 32px;
    margin: 32px;
}

#mainContent {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 32px;
}

textarea {
    resize: none;
    height: 100%;
    border-radius: 8px;
    margin-left: 16px;
}

#konversi {
    margin-top: 8px;
    padding: 8px;
    background-color: #cac3b9;
    border: 1px solid #cac3b9;
    border-radius: 50px;
    margin-bottom: 32px;
}
#konversi:hover {
    background-color: #8b8070;
    color: white;
}

#reset {
    margin-top: 8px;
    padding: 8px;
    background-color: #cac3b9;
    border: 1px solid #cac3b9;
    border-radius: 50px;
}
#reset:hover {
    background-color: #8b8070;
    color: white;
}

.logoS {
    font-size: 24px;
    font-style: italic;
}